<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layouts/head.html" %}
</head>
<body>
    {% include "layouts/header.html" %}
    {% include "layouts/sidebar.html" %}
    <div class="p-4 sm:ml-64">
        <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg mt-14">
            <div class="min-h-screen grid grid-cols-1 gap-4 mb-4">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-3">
                    {% include "layouts/table_scrapper.html" %}
                    {% include "layouts/full_table.html" %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
</body>
</html>