<table class="w-full text-sm text-center text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3">
                Website
            </th>
            <th scope="col" class="px-6 py-3">
                User/Email
            </th>
            <th scope="col" class="px-6 py-3">
                URL
            </th>
            <th scope="col" class="px-6 py-3">
                Created On
            </th>
            <th scope="col" class="px-6 py-3">
                Last Updated
            </th>
            <th scope="col" class="px-6 py-3">
                Password Strength
            </th>
            <th scope="col" class="px-6 py-3">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
            <th scope="row"
                class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                <img src="static/icons/no-image.svg"
                     class="w-auto h-8 mr-3">
                Site
            </th>
            <td class="px-6 py-4">
                user@mail.com
            </td>
            <td class="px-6 py-4">
                <span class="bg-blue-100 text-xs font-normal me-2 px-2.5 py-0.5 rounded-md">
                    <a href="#" class="font-medium text-blue-600 hover:text-blue-500">https://www.example.com</a>
                </span>
            </td>
            <td class="px-6 py-4">
                <span class="bg-gray-100 text-gray-500 font-semibold text-xs font-normal me-2 px-2.5 py-0.5 rounded-md">2025-01-26</span>
            </td>
            <td class="px-6 py-4">
                <span class="bg-gray-100 text-gray-500 font-semibold text-xs font-normal me-2 px-2.5 py-0.5 rounded-md">2025-01-26</span>
            </td>
            <td class="px-6 py-4">
                <span class="bg-green-100 text-green-500 font-semibold text-xs font-normal me-2 px-2.5 py-0.5 rounded-md">strong</span>
            </td>
            <td class="flex items-center justify-center px-6 py-4">
                <a href="#"
                   class="inline-flex items-center justify-center text-blue-500 hover:text-blue-800 hover:bg-white rounded-full p-2.5">
                    <img src="static/icons/show.svg" class="w-5 h-5"/>
                    <span class="sr-only">Show password</span>
                </a>
                <a href="#"
                   class="inline-flex items-center justify-center text-blue-500 hover:text-blue-800 hover:bg-white rounded-full p-2.5">
                    <img src="static/icons/edit.svg" class="w-5 h-5"/>
                    <span class="sr-only">Edit</span>
                </a>
                <a href="#"
                   class="inline-flex items-center justify-center text-blue-500 hover:text-blue-800 hover:bg-white rounded-full p-2.5">
                    <img src="static/icons/delete.svg" class="w-5 h-5"/>
                    <span class="sr-only">Delete</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>