<form class="max-w-sm mx-auto" action="{{ url_for('home') }}" method="POST" novalidate>
    {{ form.csrf_token }}
    <label class="block mt-16 mb-6 text-2xl font-medium text-gray-900">Save New
        Password</label>
    <div class="mb-5">
        {{ form.url.label(class="block mb-2 text-sm font-medium text-gray-900") }}
        {{ form.url(class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full
        p-2.5", placeholder="www.example.com", required=True) }}
        {% if form.url.errors %}
        {% set errors = form.url.errors %}
        {% include "layouts/input_error.html" %}
        {% endif %}
    </div>
    <div class="mb-5">
        {{ form.username.label(class="block mb-2 text-sm font-medium text-gray-900") }}
        {{ form.username(class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block
        w-full p-2.5", required=False) }}
        {% if form.username.errors %}
        {% set errors = form.username.errors %}
        {% include "layouts/input_error.html" %}
        {% endif %}
    </div>
    <div class="mb-5">
        {{ form.email.label(class="block mb-2 text-sm font-medium text-gray-900") }}
        {{ form.email(class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block
        w-full p-2.5", placeholder="name@gmail.com", required=False) }}
        {% if form.email.errors %}
        {% set errors = form.email.errors %}
        {% include "layouts/input_error.html" %}
        {% endif %}
    </div>
    <div class="mb-5">
        {{ form.password.label(class="block mb-2 text-sm font-medium text-gray-900") }}
        <div class="relative">
            {{ form.password(class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block
            w-full p-2.5", value="", required=False) }}
            <a href=""
               class="flex items-center justify-center absolute inset-y-0 right-9">
                <img src="static/icons/key.svg"
                     alt="" class="w-8 h-auto p-2 m-1.5 bg-blue-500 rounded-lg hover:bg-blue-400 hover:shadow-md">
            </a>
            <a href="#" data-copy-to-clipboard-target="password"
               class="flex items-center justify-center absolute inset-y-0 right-0">
                <img id="default-message" src="static/icons/copy.svg"
                     alt="" class="w-8 h-auto p-2 m-1.5 bg-yellow-400 rounded-lg hover:bg-yellow-300 hover:shadow-md">
                <img id="success-message" src="static/icons/done.svg"
                     alt=""
                     class="hidden w-8 h-auto p-2 m-1.5 bg-green-500 rounded-lg hover:bg-green-400 hover:shadow-md">
            </a>
        </div>
        {% if form.password.errors %}
        {% set errors = form.password.errors %}
        {% include "layouts/input_error.html" %}
        {% endif %}
    </div>
    <div class="flex items-start  mb-5">
        <div class="flex items-center h-5 pr-2">
            <input id="revealPassword" type="checkbox"
                   class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300"
                   onchange="document.getElementById('password').type = this.checked ? 'text' : 'password';"/>
        </div>
        <label for="revealPassword" class="ms-2 text-sm font-medium text-gray-900">Show
            Password</label>
    </div>
    <div class="flex justify-between">
        {{ form.save(class="w-full text-white bg-gradient-to-r from-blue-600 to-blue-500 hover:from-blue-500
        hover:to-blue-400 shadow-lg shadow-blue-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center") }}
        <div class="w-3"></div>
        <button type="reset"
                class="w-30 text-white bg-yellow-400 hover:bg-yellow-300 shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Clear
        </button>
    </div>
</form>