<form class="max-w-sm mx-auto" action="">
    <label for="email" class="block mt-16 mb-6 text-2xl font-medium text-gray-900">Save New
        Password</label>
    <div class="mb-5">
        <label for="website" class="block mb-2 text-sm font-medium text-gray-900">Website URL</label>
        <input type="text" id="website"
               class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
               placeholder="www.example.com" required/>
    </div>
    <div class="mb-5">
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
        <input type="text" id="username"
               class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
               required/>
    </div>
    <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
        <input type="email" id="email"
               class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
               placeholder="name@gmail.com" required/>
    </div>
    <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
        <div class="relative">
            <input type="password" id="password"
                   class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                   required/>
            <a href="#"
               class="flex items-center justify-center absolute inset-y-0 right-9">
                <img src="static/icons/key.svg"
                     alt="" class="w-8 h-auto p-2 m-1.5 bg-blue-500 rounded-lg hover:bg-blue-400 hover:shadow-md">
            </a>
            <a href="#" data-copy-to-clipboard-target="password"
               class="flex items-center justify-center absolute inset-y-0 right-0">
                <img id="default-message" src="static/icons/copy.svg"
                     alt="" class="w-8 h-auto p-2 m-1.5 bg-yellow-400 rounded-lg hover:bg-yellow-300 hover:shadow-md">
                <img id="success-message" src="static/icons/done.svg"
                     alt=""
                     class="hidden w-8 h-auto p-2 m-1.5 bg-green-500 rounded-lg hover:bg-green-400 hover:shadow-md">
            </a>
        </div>
    </div>
    <div class="flex items-start  mb-5">
        <div class="flex items-center h-5 pr-2">
            <input id="revealPassword" type="checkbox"
                   class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300"
                   onchange="document.getElementById('password').type = this.checked ? 'text' : 'password';"/>
        </div>
        <label for="revealPassword" class="ms-2 text-sm font-medium text-gray-900">Show
            Password</label>
    </div>
    <div class="flex justify-between">
        <button type="submit"
                class="w-full text-white bg-gradient-to-r from-blue-600 to-blue-500 hover:from-blue-500 hover:to-blue-400 shadow-lg shadow-blue-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Save
        </button>
        <div class="w-3"></div>
        <button type="button"
                class="w-30 text-white bg-yellow-400 hover:bg-yellow-300 shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Clear
        </button>
    </div>
</form>